body{
    background-color: #000000;
    border-style:groove ;
  }
  hr{
    border-style:none;
    border-top-style:dotted; 
    /* instead of this it can be done by
    border-style:dotted none none; */
    border-color: grey;
    border-width: 5px;
    width: 15%;
  }
  h1{
    color: #66BFBF;
  }
  h3{
    color:#1A132F;
  }